<footer class="pt-4 my-md-5 pt-md-5 border-top" style="color: palevioletred!important;">
  <div class="row">
    <div class="col-6 col-md">
      <img class="mb-2 img-fluid" src="././assets/SokaPredict.svg" alt="" width="594" height="154">
    </div>
<!--    <div class="col-6 col-md">-->
<!--      <h5>Features</h5>-->
<!--      <ul class="list-unstyled text-small">-->
<!--        <li><a class="text-muted" href="#">Cool stuff</a></li>-->
<!--        <li><a class="text-muted" href="#">Random feature</a></li>-->
<!--        <li><a class="text-muted" href="#">Team feature</a></li>-->

<!--      </ul>-->
<!--    </div>-->
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" data-toggle="modal" data-target="#exampleModalCenter">Contact US</a></li>
        <li><a class="text-muted" routerLink="/download" routerLinkActive="active">Download App</a></li>
        <li><a class="text-muted" routerLink="/pricing" routerLinkActive="active">Pricing</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" data-toggle="modal" data-target="#team">Team</a></li>
        <li><a class="text-muted" routerLink="/privacy" routerLinkActive="active">Privacy</a></li>
        <p></p>
        <small class="d-block mb-3 text-muted" style="color: palevioletred!important;">© 2017-2018</small>
      </ul>
    </div>
  </div>
  <div class="modal fade" id="team" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
<!--          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>-->
          <img class="img-fluid" src="././assets/SokaPredict.svg" routerLink="/home">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background: rgba(0,0,39,0.9); text-align: center;">
          <div>
            System Developed by Blaqueyard Technologies © 2020
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            lkjgljhgkjh
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</footer>
