
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <!-- Stats -->
      <div class="row">
<h1>Tax Scheme</h1>
        <div class="card col-md-12">
          <div class="card-body">
            <table id="example" class="table table-striped table-bordered " style="width:100%">
              <thead style="background: #00B5B8 !important;">
              <tr style="color: white">
                <th>Tax scheme name</th>
                <th>Tax (%)</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let i of mytax">
                <td>{{i.name}}</td>
                <td>{{i.percent}}</td>
              </tr>

              </tbody>
              <tfoot style="background: #00B5B8 !important;">
              <tr style="color: white">
                <th>Tax scheme name</th>
                <th>Tax (%)</th>
              </tr>
              </tfoot>
            </table>
            <p></p>
            <br>

            <button class="btn btn-primary" (click)="navigate()" style="float: right">Create New Tax Scheme</button>

          </div>
        </div>


      </div>
      <!--/ Stats -->

    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#example').DataTable();
  } );
</script>

