<app-navbar *ngIf="auth === true"></app-navbar>
<div class="row">
  <div class="col-md-4" style="background: rgba(0,0,39,0.9);">
    <div style="font-family: Aldrich, sans-serif; padding-top: 2%; color: goldenrod;">
      <h1 style=" text-align: center">Privacy Policy </h1>
    </div>
  </div>


  <div class="col-md-8" >

    <div class="card" style="margin-top: 3%; margin-bottom: 3%;">
      <div class="card-body">
        This Privacy Policy governs the website or any respective page, sub-page, subdomain or section thereof from time to time, located at or accessible via the domain name: www.XXX.co.ke (the “Website”).
      </div>
    </div>

    <div class="card" style="margin-top: 3%; margin-bottom: 3%;">
      <div class="card-body">
        This Privacy Policy sets out the basis by which we process personal information that we collect from you or that you will provide to us.

        Please read the policy below carefully before using the Website. By using or registering with the Website, you are deemed to have agreed and accepted the terms and conditions of this Privacy Policy. If you do not agree to accept and be bound by this Privacy Policy or any amendment thereto, then please discontinue the use of the Website.

      </div>
    </div>

    <div class="card" style="margin-top: 3%; margin-bottom: 3%;">
      <div class="card-body">
        We collect personal data during the time of registration and we use it for the purpose set out in this Privacy Policy. We process personal information collected via this web site for the purposes of:

        Setting up, funding, and managing your account so you can make full use of our services;
        Enabling our customer support staff to handle any queries or question you may have;
        Complying with relevant regulations regarding your registration, for example completing age verification checks;
        Providing you with information about promotional offers.
      </div>
    </div>

    <div class="card" style="margin-top: 3%; margin-bottom: 3%;">
      <div class="card-body">
        By registering an account with us you accept that we may retain your user information and that it may be held by us or provided to a third party company which processes it on our behalf. The account information supplied during the account creation process is kept strictly confidential for our own purpose. The only third party company with direct access to your information is our betting software providers who maintain all software, security and support to their licensees and are also bound by the terms of this policy.
      </div>
    </div>

    <div class="card" style="margin-top: 3%; margin-bottom: 3%;">
      <div class="card-body">
        While our Website may contain links to websites operated by parties other than Us is not responsible for the privacy practices or content of any such websites. We reserve the right to perform statistical analyses of user's behavior and characteristics in order to measure interest in, and use of, the various areas of the sites and, in addition, to inform advertisers of such information as well as the number of users that have been exposed to or who have clicked on their advertising banners. We will provide only aggregated data from these analyses to third parties.
      </div>
    </div>

    <div class="card" style="margin-top: 3%; margin-bottom: 3%;">
      <div class="card-body">
        For marketing and promotional purposes, we reserve the right to publish on the Websites and other promotional material details of any of wins and/or prizes received. Abbreviated names, hometown and the amount of the win may be used to promote the brand.
      </div>
    </div>

    <div class="card" style="margin-top: 3%; margin-bottom: 3%;">
      <div class="card-body">
        We maintain the utmost available means to ensure that your information remains safe with us. All information is transferred using encryption technologies and once stored on our servers, it is maintained safe using the latest technologies available today. Both our Website and software use all available means to maintain data accuracy and privacy and to protect your data from being misused and/or lost.
      </div>
    </div>

    <div class="card" style="margin-top: 3%; margin-bottom: 3%;">
      <div class="card-body">
        Customers should note that personal information and data may be automatically collected and stored during the registration process through the use of Cookies. A "cookie" is a small piece of information sent by a web server to a web browser, which enables the server to collect information from the browser. We use cookies to keep track of your browsing patterns and to build up a demographic profile. By monitoring such patterns and collating the captured data we are able to improve our service to you. The Affiliate system uses cookies as part of the tracking process back to the referring affiliates. There is a simple procedure in most browsers that allows you to deny or accept the Cookie feature if you do not want information collected through the use of Cookies. Note, however, that "personalized" services may be affected if the cookie option is disabled.      </div>
    </div>

    <div class="card" style="margin-top: 3%; margin-bottom: 3%;">
      <div class="card-body">
        It is our policy to retain and make available financial information for a period of 2 years.
        Other information will be retained as required to fulfil the regulatory requirements governing this site.

      </div>
    </div>

    <div class="card" style="margin-top: 3%; margin-bottom: 3%;">
      <div class="card-body">
        Users may at any time make a written request for a copy of their personal information held by us to the addresses indicated below. We will disclose to you your personal data held by us. You may also notify us of any updates, amendments and corrections to previously collected user information by using the E-mail address below. We are entitled by law to make a small administrative charge for providing such Information.

        We reserve the right, at any time, to modify, alter, or update this Privacy Policy. You may always consult the current version of this Privacy Policy by reading it here.      </div>
    </div>



  </div>
</div>
<app-footer></app-footer>
