<div class="">
  <div class="row" style="background: rgba(0,0,39,0.9);">
    <div class="col-md-6">
      <img width="100%" src="./assets/login.jpg">
    </div>
    <div class="col-md-6" >

      <form style="padding-top: 10%" >

        <div style="font-family: Aldrich, sans-serif; padding-top: 2%; color: goldenrod;">
          <h1 style="text-align: center">Register Page </h1>
          <h4 style="text-align: center; color: red">{{email_error}}</h4>
        </div>

        <div class="form-group" style="width: 95%">
          <label for="exampleInputEmail1" style="color: palevioletred;">Email address</label>
          <input  #email type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="form-group" style="width: 95%">
          <label for="phone" style="color: palevioletred;">Phone Number</label>
          <input #phone type="text" class="form-control" id="phone" required="phone">
        </div>
        <div class="form-group" class="form-group" style="width: 95%; padding-bottom: 4.5%;">
          <label for="exampleInputPassword1" style="color: palevioletred;">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" #pass required>
        </div>

        <button type="submit" (click)="register(email.value, phone.value, pass.value)" class="btn btn-primary" style="width: 95%; background: palevioletred!important;">Submit</button>
      </form>

    </div>

  </div>
</div>
