<app-navbar *ngIf="auth === true"></app-navbar>
<div class="row">
  <div class="col-md-4" style="background: rgba(0,0,39,0.9);">
    <div style="font-family: Aldrich, sans-serif; padding-top: 2%; color: goldenrod;">
      <h1 style=" text-align: center">Disclaimer </h1>
    </div>
  </div>


  <div class="col-md-8" >

    <div class="card" style="margin-top: 3%; margin-bottom: 3%;">
      <div class="card-body">
        This website may contain Copyrighted material, the use of which may not have been specifically authorized by the
        copyright owner. This material in this website is distributed without profit. If you wish to use the any
        copyrighted material from this website  for purposes of your own
      </div>
    </div>

    <div class="card" style="margin-top: 3%; margin-bottom: 3%;">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div>

    <div class="card" style="margin-top: 3%; margin-bottom: 3%;">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
