<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <!-- Stats -->
      <div class="row">
        <h1>New Staff</h1>
        <div class="card col-md-12">
          <div class="card-body">

            <form>
              <div class="form-row">
                <div class="col">
                  <label>First Name</label>
                  <input #fname type="text" class="form-control" placeholder="">
                </div>

                <div class="col">
                  <label>Last Name</label>
                  <input #lname type="text" class="form-control" placeholder="">
                </div>

              </div>
              <p></p>
              <p></p>
              <p></p>

              <div class="form-row">
                <div class="col">

                  <label>Gender</label>
                  <br>
                  <select #sel1 class="selectpicker form-control" data-live-search="true">
                    <option data-tokens="ketchup mustard"></option>
                    <option data-tokens="ketchup mustard">Male</option>
                    <option data-tokens="ketchup mustard">Female</option>
                    <option data-tokens="mustard">Undefined</option>
                  </select>

                </div>

                <div class="col">

                  <label>Account Type
                  </label>
                  <br>
                  <select #sel2 class="selectpicker form-control" data-live-search="true" >
                    <option data-tokens=""></option>
                    <option data-tokens="" *ngFor="let i of listAccTypes">{{i.name}}</option>

                  </select>
                </div>


              </div>

              <p></p>
              <p></p>
              <p></p>

              <div class="form-row">
                <div class="col">
                  <label>Birth Date</label>
                  <div class="input-group input-daterange">
                    <input #dob type="text" class="form-control" value="dd-mm-yyyy">

                  </div>
                </div>

                <div class="col">
                  <label>Email</label>
                  <input #email type="text" class="form-control" placeholder="">
                </div>

                <div class="col">
                  <label>Phone</label>
                  <input #phone type="text" class="form-control" placeholder="">
                </div>


              </div>
              <p></p>

            </form>

            <p></p>
            <p></p>
            <p></p>
            <br>

            <button class="btn btn-outline-primary" (click)="navigateback()" style="margin-left: 10px; float: right; ">Back to Staffs</button>
            <div class="divider"></div>

            <button class="btn btn-primary" (click)="save(fname.value, lname.value, sel1.value, sel2.value, email.value, phone.value, dob.value)" style=" float: right; width: 13%!important; ">Save</button>

          </div>
        </div>

      </div>
      <!--/ Stats -->

    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
    $('#example').DataTable( {
      "ajax": "data.json"
    } );
  } );

  $('.datepicker').datepicker();
</script>



